# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.idea
3rdParty/eigen-3.2.8
3rdParty/nlopt-2.3
build
jerome.xcodeproj/project.xcworkspace/xcuserdata
jerome.xcodeproj/xcuserdata
boost_1_59_0.tar.bz2
boost_1_65_0.tar.bz2
boost_1_70_0.tar.bz2
Jerome4Java/java/out
*.iws
ignore
