//
//  Alfred.xcconfig
//  Alfred
//
//  Created by Anton Leuski on 6/30/16.
//
//

SDKROOT = iphoneos
// this is what boost is built for
TARGETED_DEVICE_FAMILY = 1,2,6
LD_RUNPATH_SEARCH_PATHS = $(inherited) @loader_path/Frameworks
ENABLE_BITCODE = NO

//VALID_ARCHS[sdk=iphoneos*] = arm64
//VALID_ARCHS[sdk=iphonesimulator*] = x86_64
SUPPORTS_UIKITFORMAC = YES

// disabling a feature that is not available < ios 10.0
//GCC_PREPROCESSOR_DEFINITIONS = _DARWIN_FEATURE_CLOCK_GETTIME=0 $(inherited)
