//
//  Alfred.xcconfig
//  Alfred
//
//  Created by Anton Leuski on 6/30/16.
//
//

SDKROOT = iphoneos
IPHONEOS_DEPLOYMENT_TARGET = 8.1
TARGETED_DEVICE_FAMILY = 1,2
LD_RUNPATH_SEARCH_PATHS = $(inherited) @loader_path/Frameworks
ENABLE_BITCODE = NO
SUPPORTED_PLATFORMS = iphonesimulator iphoneos

VALID_ARCHS = arm64

// disabling a feature that is not available < ios 10.0
GCC_PREPROCESSOR_DEFINITIONS = _DARWIN_FEATURE_CLOCK_GETTIME=0 $(inherited)
