//
//  Alfred.xcconfig
//  Alfred
//
//  Created by Anton Leuski on 6/30/16.
//
//

ALWAYS_SEARCH_USER_PATHS = NO
BUILD_YEAR = 2018
CLANG_ANALYZER_NONNULL = YES
CLANG_CXX_LANGUAGE_STANDARD = c++0x
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CLANG_WARN_BLOCK_CAPTURE_AUTORELEASING = YES
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_COMMA = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_NON_LITERAL_NULL_CONVERSION = YES
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_RANGE_LOOP_ANALYSIS = YES
CLANG_WARN_STRICT_PROTOTYPES = YES
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN_QUOTED_INCLUDE_IN_FRAMEWORK_HEADER = YES

COPY_PHASE_STRIP = NO
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_DYNAMIC_NO_PIC = NO
GCC_NO_COMMON_BLOCKS = YES
GCC_WARN_64_TO_32_BIT_CONVERSION = YES
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
PRINCIPAL_CLASS = $(PRODUCT_MODULE_NAME).$(PRODUCT_MODULE_NAME)
PRODUCT_BUNDLE_IDENTIFIER = edu.usc.ict.jerome$(TARGET_NAME:suffix).$(TARGET_NAME:base)
PRODUCT_NAME = $(TARGET_NAME:base)
SWIFT_SWIFT3_OBJC_INFERENCE = Off // On
SWIFT_VERSION = 5
SYMROOT = $(HOME)/Documents/Developer/Build/$(PROJECT_NAME)
VERSIONING_SYSTEM = apple-generic

GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS = YES
GCC_SYMBOLS_PRIVATE_EXTERN = YES
GCC_PRECOMPILE_PREFIX_HEADER = YES
GCC_INLINES_ARE_PRIVATE_EXTERN = YES
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE

THIRD_PARTY_BUILD_DIR=$(SRCROOT)/3rdParty/build/$(PLATFORM_NAME)$(EFFECTIVE_PLATFORM_NAME)

HEADER_SEARCH_PATHS = $(SRCROOT) /usr/include/libxml2 $(THIRD_PARTY_BUILD_DIR)/include
DEVELOPMENT_TEAM = 4RX84Q9D57

// a temporary workaround to avoid building arm binaries for catalyst
// we need to figure out how to build boost fat libraries for catalyst first.
EXCLUDED_ARCHS__IS_MACCATALYST_YES__NATIVE_ARCH_64_BIT_x86_64=arm64 arm64e armv7 armv7s armv6 armv8
//EXCLUDED_ARCHS = $(inherited) $(EXCLUDED_ARCHS__IS_MACCATALYST_$(IS_MACCATALYST)__NATIVE_ARCH_64_BIT_$(NATIVE_ARCH_64_BIT))

DEAD_CODE_STRIPPING = YES

SUPPORTED_PLATFORMS = iphoneos iphonesimulator macosx xros xrsimulator
MACOSX_DEPLOYMENT_TARGET = 10.13
IPHONEOS_DEPLOYMENT_TARGET = 12.0
TARGETED_DEVICE_FAMILY = 1,2,6,7

COMBINE_HIDPI_IMAGES[sdk=macosx*] = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @loader_path/Frameworks
LD_RUNPATH_SEARCH_PATHS[sdk=macosx*] = $(inherited) @loader_path/../Frameworks
ENABLE_BITCODE = NO
SUPPORTS_MACCATALYST = YES
