//
//  Alfred.xcconfig
//  Alfred
//
//  Created by Anton Leuski on 6/30/16.
//
//

#include "Project.xcconfig"

DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
VALIDATE_PRODUCT = YES
ENABLE_NS_ASSERTIONS = NO
MTL_ENABLE_DEBUG_INFO = NO
//SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
SWIFT_COMPILATION_MODE = wholemodule

GCC_PREPROCESSOR_DEFINITIONS = NDEBUG __ASSERT_MACROS_DEFINE_VERSIONS_WITHOUT_UNDERSCORES=0 BOOST_UBLAS_NDEBUG
COPY_PHASE_STRIP = YES
SWIFT_OPTIMIZATION_LEVEL = -O
